services:

  app:
    build: .
    container_name: auth-service
    ports:
      - "8001:8001"
    depends_on:
      - auth-db
      - redis

    volumes:
      - ./:/app
    restart: always
  auth-db:
    image: postgres:16
    container_name: auth-db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 1
      POSTGRES_DB: auth-db

    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  redis:
    image: redis:7
    container_name: auth-redis
    ports:
      - "6379:6379"
    restart: always

volumes:
  pgdata:
